.fs-logo {
  background-image: url('../images/fs-logo.png');
  background-repeat: no-repeat;
  background-size: 160px 34px;
  height: 34px;
  width: 160px;
}

.fs-logo-holder {
  background-color: #174c74;
  float: left;
  height: 50px;
  padding: 7px 0 0 20px;
  width: 200px;
}

.fs-head {
  background-color: #379bce;
  height: 50px;
}

.fs-united {
  background-color: #379bce;
  color: white;
  float: left;
  height: 50px;
  padding: 14px 0 0 65px;
}

.fs-languages {
  background-color: #379bce;
  color: white;
  float: right;
  height: 100%;
  padding: 15px 20px 0 0;
}

.fs-languages span.fs-lan-selected {
  text-decoration: underline;
}

* {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
  margin: 0;
}

.fs-united p {
  height: 6px;
  line-height: 7px;
}

.fs-bold {
  font-weight: 700;
}

.gb-footer {
  height: 50px;
  background-color: #174C74;
}

#banner_row {
  background-color: #379BCE;
}